{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": "> 0.25%, not dead"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": 2, "helpers": false }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-transform-classes", { "spec": true }]
  ]
}
